<h1 class="mt-5">Selectores aninados</h1>

<hr />

<form class="row g-2 mb-3" [formGroup]="myForm" (ngSubmit)="save()">
  <!-- continentes -->
  <div class="col-12">
    <label class="form-label">Continente:</label>
    <select class="form-select" formControlName="region">
      <option value="">-- Seleccione continente --</option>
      <option *ngFor="let region of regions" [value]="region | lowercase">
        {{ region }}
      </option>
    </select>
  </div>

  <!-- paises -->
  <div class="col-12" *ngIf="countries.length !== 0">
    <label class="form-label">Países:</label>
    <select class="form-select" formControlName="country">
      <option value="">-- Seleccione el país --</option>
      <option *ngFor="let country of countries" [value]="country.alpha3Code">
        {{ country.name }}
      </option>
    </select>
  </div>

  <!-- fronteras -->
  <div class="col-12" *ngIf="!!borders.length">
    <label class="form-label">Fronteras:</label>
    <select class="form-select" formControlName="border">
      <option value="">-- Seleccione el país fronterizo --</option>
      <option *ngFor="let border of borders" [value]="border.alpha3Code">
        {{ border.name }}
      </option>
    </select>
  </div>

  <div class="alert alert-primary" *ngIf="loading">Cargando...</div>

  <button class="btn btn-primary" type="submit" [disabled]="loading">
    Seleccionar
  </button>
</form>

<div class="card p-3">
  <h3>Formulario</h3>
  <pre>Valid: {{ myForm.valid | json }}</pre>
  <pre>{{ myForm.value | json }}</pre>
</div>
